<ion-view view-title="Overview">
  <ion-content>
    <div class="padding">
      <div class="button button-block button-stable" ui-sref="messenger({'sellerId' : sellerId, 'productId' : productId, 'buyerId': buyerId, 'perspective' : 'buyer'})">
        Messenger
      </div>
      
      <div class="button button-block button-stable" ng-show=allowedToBuyNegative>
        You cannot purchase this item because the seller is interested with another user.
      </div>
      
      <ion-list>
        <ion-checkbox ng-model="agree_status" ng-show=allowedToBuyPositive ng-true-value="true" ng-false-value="false">I agree that transaction is completed </ion-checkbox>
      </ion-list>

      <button ng-show="agree_status === true" class="button button-block button-stable" ui-sref="rateuser({'buyerId':buyerId, 'sellerId' : sellerId})" ng-click="completeTransaction();">
        Transaction Complete
      </button>
    </div>
  </ion-content>
</ion-view>
