<ion-view view-title="My Purchased Items">
  <ion-content>

    <div ng-repeat="(key, value) in buyingHistory">
      <div ng-repeat="(key2, value2) in allProducts" ng-if="userId !== key2">
        <div ng-repeat="(key3, value3) in value">
          <div ng-repeat="(key4, value4) in value2" ng-if="key3 === key4">
            <a class="item item-thumbnail-left" href="#">
              <img data-ng-src="data:image/jpeg;base64,{{value.picture}}" alt="No picture">
              <h2> Name: {{value4.name}} </h2>
              <h2> Price: {{value4.price}} </h2>
              <h2> Description: {{value4.description}} </h2>
              <h2> Sold On: {{value3.date}} </h2>
            </a>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
