<ion-view view-title="Item Details">
    <ion-content>
        
        <div class="list card" ng-model="itemDetails">
            <div class="list">
                
                <div class="item item-divider">
                    Message
                </div>

                <label class="item item-input">
                    <input ng-model="message.text" type="text" placeholder="Introduce yourself and suggest a meeting place on campus.">
                </label>


                <div class="item item-divider">
                    Payment Method
                </div>
                <ion-list>
                    <ion-checkbox ng-repeat="item in paymentList"
                      ng-model="item.checked" 
                      ng-checked="item.checked">
                     {{ item.text }}
                     </ion-checkbox>
                </ion-list>


                <div class="item item-divider">
                    Purchase Review
                </div>
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Item Name</span>
                    <p>{{itemDetails.name}}</p>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Category</span>
                    <p>{{itemDetails.category}}</p>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Description</span>
                    <p>{{itemDetails.description}}</p>
                </label>
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Price</span>
                    <p>{{itemDetails.price | currency}}</p>
                </label>
                
                <div class="item item-divider">
                    Image
                </div>
                
                <a class="full-image" href="#">
                    <img data-ng-src="data:image/jpeg;base64,{{itemDetails.picture}}" alt="no picture">
                </a>
                
                
                <div class="padding">
                    <div class="button button-block button-balanced" ng-click="interestedButton();">
                    Interested
                    </div>
                </div>
                
            </div>
        </div>
    </ion-content>
</ion-view>
