<ion-view view-title="Item Details">
    <ion-content>
        
        <div class="list card" ng-model="itemDetails">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Item Name</span>
                    <p>{{itemDetails.name}}</p>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Category</span>
                    <p>{{itemDetails.category}}</p>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Description</span>
                    <p>{{itemDetails.description}}</p>
                </label>
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Price</span>
                    <p>{{itemDetails.price | currency}}</p>
                </label>
                
                <div class="item item-divider">
                    Image
                </div>
                
                <a class="full-image" href="#">
                    <img data-ng-src="data:image/jpeg;base64,{{itemDetails.picture}}" alt="no picture">
                </a>
                
                <div class="item item-divider">
                    Buying Options
                </div>
                <ion-list>
                    <ion-checkbox ng-repeat="item in paymentList"
                      ng-model="item.checked" 
                      ng-checked="item.checked"
                      ng-disabled=true>
                     {{ item.text }}
                     </ion-checkbox>
                </ion-list>
                
                
            </div>
        </div>
        
        
    </ion-content>
</ion-view>

<div class="bar bar-footer bar-balanced">
    <div class="title">Buy Item</div>
</div>