<ion-view view-title="Selling">
  <ion-content>
    <div class="list">

    <a class="item item-thumbnail-left" ui-sref="seller-add-item">
      <img src="https://placehold.it/150x150">
      <h2>Sell an Item</h2>
      <p>Add an item for sale.</p>
    </a>

    <a class="item item-thumbnail-left" ui-sref="seller-view-items-sale">
      <img src="https://placehold.it/150x150">
      <h2>View Items For Sale</h2>
      <p>List of items for sale.</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="https://placehold.it/150x150">
      <h2>View Sold Items</h2>
      <p>List of sold items.</p>
    </a>
  </ion-content>
</ion-view>
