<ion-view view-title="Settings">
  <ion-content>
    <div class="list">

        <a class="item item-thumbnail-left" ui-sref="settings-email-setup">
        <img src="images/paypal.png">
        <h2>Personal Payment Details</h2>
        <p>Setup Paypal Email Account.</p>
        </a>

        <a class="item item-thumbnail-left" ui-sref="settings-profile-pic">
        <img src="images/camera.png">
        <h2>Profile Picture</h2>
        <p>Take a profile picture.</p>
        </a>
    
    </div>

  </ion-content>
</ion-view>
