<ion-view view-title="Settings">
  <ion-content>
    <div class="list">

    <a class="item item-thumbnail-left" ui-sref="settings-email-setup">
      <img src="https://placehold.it/150x150">
      <h2>Personal Payment Details</h2>
      <p>Setup Paypal Email Account.</p>
    </a>

    <!-- <a class="item item-thumbnail-left" ui-sref="settings-profile-setup">
      <img src="https://placehold.it/150x150">
      <h2>Personal Profile</h2>
      <p>Setup Profile Picture.</p>
    </a> -->

  </ion-content>
</ion-view>
