<ion-view view-title="Item Interested">
  <ion-content>

    <div class="list">

      <div class="item item-divider">
        Message
      </div>

      <label class="item item-input">
        <input ng-model="message.text" type="text" placeholder="Introduce yourself and suggest a meeting place on campus.">
      </label>


      <div class="item item-divider">
        Payment Method
      </div>


      <div class="item item-divider">
        Purchase Review
      </div>

      <div class="padding">
        <div class="button button-block button-stable" ng-click="interestedButton();">
          Interested
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
