<ion-view view-title="Rate Transaction With {{userType}}">
    <ion-content>
        
        <div class="list card">
            <div class="list">
                
                <div class="item item-divider">
                    {{userType}}'s Name
                </div>

                <label class="item item-input item-stacked-label">
                    <p>{{userData.name}}</p>
                </label>
                
                
                <div class="item item-divider">
                    Give an overall rating for this {{userType}}.
                </div>
                
                <rating ng-model="userRating.rating" readonly="readOnly" ng-disabled="true">
                
                </rating>
                
                <div class="item item-divider">
                    Your Comment
                </div>      
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Enter a comment if desired</span>
                    <input type="text" placeholder="User Comment" ng-model="userRating.comment">
                </label> 
                <button class="button button-block button-positive" ng-click="postRating();" ui-sref="tabs.tab-activity">
                    Post Review
                </button>

            </div>
        </div>
    </ion-content>
</ion-view>
