<ion-view view-title="My Items For Sale">
  <ion-content ng-init=loadProducts();>
    <div id="search-bar">
      <div class="item item-input-inset">
        <label class="item-input-wrapper" id="search-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="query">
        </label>
      </div>
    </div>

    <div class="list" ng-repeat="(key, value) in allProducts">
      <a class="item item-thumbnail-left" ui-sref="item-details({userId:userId, productId:key})" >
        <img data-ng-src="data:image/jpeg;base64,{{value.picture}}">
        <h2>{{value.name}}</h2>
        <p>{{value.price | currency}}</p>
        <p>This is a description</p>
      </a>
    </div>

  </ion-content>
</ion-view>
