<ion-view view-title="My Items For Sale">
  <ion-content>
    <div id="search-bar">
      <div class="item item-input-inset">
        <label class="item-input-wrapper" id="search-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="query">
        </label>
      </div>
    </div>

    <div class="list">
      <a class="item item-thumbnail-left" ng-repeat="item in items | filter:query">
        <img src="http://placehold.it/150x150">
        <h2>{{item.name}}</h2>
        <p>{{item.price | currency}}</p>
        <p>This is a description</p>
      </a>
    </div>

  </ion-content>
</ion-view>
