<ion-view view-title="Select Interested Person">
  <ion-content>

    <div ng-repeat="(key, value) in allInterestedUsers">
      <div class="ion-list" ng-repeat="(key2, value2) in users" ng-if="key == key2">
          <a class="item item-thumbnail-left" href="#" ui-sref="seller-interested-overview({userId: key2})">
          <img data-ng-src="" alt="no picture">
              <h2> Name: {{value2.name}} </h2>
              <h2> Email: {{value2.email}} </h2>
          </a>
      </div>
    </div>

  <ion-content>
</ion-view>
