<ion-view view-title="Sell an Item">
  <ion-content>

    <div class="list">

      <label class="item item-input item-stacked-label">
        <span class="input-label">Item Name</span>
        <input type="text" placeholder="Item Name" ng-model="item.name">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Item Description</span>
        <input type="text" placeholder="Item Name" ng-model="item.description">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Item Price</span>
        <input type="text" placeholder="Item Name" ng-model="item.price">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Category
        </div>
        <select ng-model="item.category">
          <option value="Textbook">Textbooks</option>
          <option value="Electronics">Electronics</option>
          <option value="Clothes">Clothes</option>
          <option value="Household">Household Items</option>
          <option value="Other">Other</option>
        </select>
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Enter your Category here" ng-model="item.category" ng-show="item.category === 'Other'" ng-hide="item.category === 'Other'">
      </label>

      <div class="input-label">
        Payment Methods Accepted
      </div>

      <ion-checkbox ng-model="item.payments.paypal" ng-true-value="'true'" ng-false-value="'false'">PayPal</ion-checkbox>
      <ion-checkbox ng-model="item.payments.cash" ng-true-value="'true'" ng-false-value="'false'">Cash</ion-checkbox>
      <ion-checkbox ng-model="item.payments.bitcoin" ng-true-value="'true'" ng-false-value="'false'">BitCoin</ion-checkbox>

      <a class="item item-thumbnail-left" href="#">
        <img data-ng-src="data:image/jpeg;base64,{{item.picture}}" alt="no picture">
      </a>


    </div>
    <div class="padding">

    <button class="button button-block button-positive" ng-click="snapPicture();">
        Upload Picture
    </button>

    <button class="button button-block button-positive" ng-click="addNewItem();">
        List Item For Sale
    </button>
  </div>
  </ion-content>
</ion-view>
