<ion-view>
  <ion-content>

    <div class="ion-list" ng-hide="chosenProduct.status == 'available'">
        <a class="item item-avatar" href="#" >
        <img data-ng-src="" alt="profile pic">
            <h2> Chosen Buyer </h2>
            <h2> Name: {{buyer.name}} </h2>
            <h2> Email: {{buyer.email}} </h2>
        </a>
    </div>

    <button class="button button-block button-stable" ui-sref="messenger({'sellerId' : sellerId, 'productId' : productId, 'buyerId': buyerId, 'perspective' : 'seller'})">
      Messenger
    </button>

    <button class="button button-block button-stable" ng-click="buyerChosen();" ng-show="chosenProduct.status == 'available'">
      Choose this buyer
    </button>

    <ion-list>
      <ion-checkbox ng-hide="chosenProduct.status == 'available'" ng-model="agree_status" ng-true-value="true" ng-false-value="false">I agree that transaction is completed </ion-checkbox>
    </ion-list>

    <button ng-show="agree_status == true" class="button button-block button-stable" ng-click="completeTransaction();">
      Transaction Complete
    </button>
    
    <button ng-show="agree_status === true" class="button button-block button-stable" ui-sref="rateuser2({'buyerId':buyerId, 'sellerId' : sellerId})">
        Review User
    </button>
      
  </ion-content>
</ion-view>
