<ion-view view-title="Profile Picture Setup">
  <ion-content>

    <div class="list">
<!--
      <div class="item item-divider">
        Picture Source
      </div>

      <ion-radio ng-model="photo_choice" ng-value="1">Camera</ion-radio>
      <ion-radio ng-model="photo_choice" ng-value="0">Photo Library</ion-radio>
-->
      <button class="button button-block button-positive" ng-click="takePicture();">
          Upload New Profile Picture
      </button>

      <a ng-show="pictureTaken === true" class="item item-thumbnail-left" href="#">
        <img data-ng-src="data:image/jpeg;base64,{{picture}}" alt="no picture">
      </a>

      <button ng-show="pictureTaken === true" class="button button-block button-positive" ng-click="savePicture();">
          Save New Profile Picture
      </button>

    </div>

  </ion-content>
</ion-view>
