<ion-view view-title="Sign Up">
  <ion-content>

    <div class="list list-inset">

      <label class="item item-input">
        <input ng-model="name" type="text" placeholder="Full Name">
      </label>

      <label class="item item-input">
        <input ng-model="email" type="email" placeholder="Email" ng-pattern="/^[A-Za-z0-9._%+-]+@my.uwi.edu$/">
        <div ng-messages="email.$error">
            <div ng-message="pattern">The email entered is invalid!</div>
        </div>
      </label>

      <label class="item item-input">
        <input ng-model="password" type="password" placeholder="Password">
      </label>

    </div>

    <div class="padding">
      <button class="button button-block button-stable" ng-click="signUp(name, email, password);">
        Sign Up
      </button>

      <br>
      <p class="paragraph-center">Already have an account? <a href="#/sign-in">Sign In</a></p>
    </div>

  </ion-content>
</ion-view>
