<ion-view view-title="Select Category">
    <ion-content> 
     <a class="item item-thumbnail-left" href="#" ui-sref="list-items-category({category: 'Electronics'})">
        <img src="cover.jpg">
        <h2>Electronics</h2>
        <p>Tap to View All Electronic Items</p>
    </a>
    <a class="item item-thumbnail-left" href="#" ui-sref="list-items-category({category: 'Clothes'})">
        <img src="cover.jpg">
        <h2>Clothes</h2>
        <p>Tap to View All Clothing Items</p>
    </a>
    <a class="item item-thumbnail-left" href="#" ui-sref="list-items-category({category: 'Textbook'})">
        <img src="cover.jpg">
        <h2>TextBooks</h2>
        <p>Tap to View All TextBooks</p>
    </a>
    <a class="item item-thumbnail-left" href="#" ui-sref="list-items-category({category: 'Household'})">
        <img src="cover.jpg">
        <h2>Household</h2>
        <p>Tap to View All HouseHold Items</p>
    </a>
    <a class="item item-thumbnail-left" href="#" ui-sref="list-items-category({category: 'Other'})">
        <img src="cover.jpg">
        <h2>Others</h2>
        <p>Tap to View All Other Items</p>
    </a>
    </ion-content>
</ion-view>