<ion-view view-title="Activity">
  <ion-content ng-init="init();">
    <div id="content">
      <div id="profile-info">
        <img id="profile-image" ng-src="{{profileData.profileImageURL}}">
        <h3 id="profile-name">{{profileData.name}}</h3>
        <span id="profile-description">
        </span>
      </div>
      
      <div class="item item-divider">
                    Basic Profile Information
      </div>
      <div>
          <label class="item item-input item-stacked-label">
                    <span class="input-label">Number of Pending Reviews</span>
                    <p>{{profileData.pendingReviews}}</p>
          </label>
      </div>
      
    </div>

  <ion-content>
</ion-view>
