<ion-view view-title="View User Reviews">
  <ion-content>
        <div class="list card"">
            <div class="list">

                <div class="item item-divider">
                    Seller Information
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Seller's Name</span>
                    <p>{{sellerInfo.name}}</p>
                    <span class="input-label">Profile Picture</span>
                    <img ng-if="sellerInfo.photoChanged === false" id="profile-image" ng-src="{{sellerInfo.profileImageURL}}">
                    <img ng-if="sellerInfo.photoChanged === true" id="profile-image" data-ng-src="data:image/jpeg;base64,{{sellerInfo.profileImageURL}}">
                    <br>
                </label>
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Seller's Overall Rating</span>
                    <rating ng-model="sellerInfo.overallRating" max=5 readonly="1">
                    </rating>
                </label>
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Number of Pending Reviews</span>
                    <p>{{sellerInfo.pendingReviews}}</p>
                </label>
                
                <div class="item item-divider">
                    Seller Reviews
                </div>
                <div ng-repeat="reviews in sellerReviews">
                    <div ng-repeat="review in reviews"
                        <a class="item">
                            <h3>Date: {{review.date}}</h3>
                            <h2>User Name: {{review.userName}}</h2>
                            <p>Rating: 
                                <rating ng-model="review.rating" max=5 readonly="1">
                                </rating>
                            </p>
                            <p>Comment: {{review.comment}}</p>
                        </a> 
                        
                    </div>
                </div>

            </div>
        </div>
  </ion-content>
</ion-view>